Hi there! I have a text file with a visual description of scenes in it. There are a too many scenes for my purpose though.

Could I ask you to help me select the ten most visually interesting scenes?  Or to combine scenes if they seem similar?  If there are
scenes that just describe logo's or textual content - those can be discarded entirely.

I'd like a very similar markdown ordered list back - just with a maximum of 10 scenes.

Here's the text file:

<original-scenes>

{{ original_scenes }}

</original-scenes>

Please response with only the markdown list - no other text.  I will be passing your response to a python script so any other
text will break the script.
